body {
    height: 100%;
    margin: 0;
    padding: 0;
}



header {
    background-color: aquamarine;    
}

h3 {
    color: darkgray;
}

.highlight {
    color: rgb(63, 201, 255);
}


.highlight-2 {
    background-color: yellow;
}

p, ul, table {
    font-weight: 600;
}



thead {
    color: white;
    font-weight: bold;
    background-color: rgb(46, 150, 211);
}

.tr-1, .tr-3 {
    background-color: rgb(0, 255, 255);
}